<ul>
 <li> Name of Member :</li>
     <%= @member.name %><br>
     <li>  his age order in the family </li>
     <%= @member.order_age %><br>
    <li> his kinship to user:</li>
    <%= @member.kinship %><br>
 </ul>
<br>
<br>

 
<h1><%=@member.name%>'s history</h1><br>
<% @member.histories.each do |his| %>
     <%= his.doctor_name %>
     <%= his.doctor_desc %> 
   <%= his.age_at_visit %> 
    <%= his.date%><br>
<%end%>
<br><br>

<a href="/members/<%=@member.id%>/histories/new">create new history for <%=@member.name%></a>
<br><br>
<a href="/members">members</a>

