 <div class ="SorL-form">
 <div>
      <strong>Name of Member :</strong>
     <%= @member.name %>  &nbsp
     <strong> Age order :</strong> &nbsp
     <%= @member.order_age %>
      <strong> Kinship :</strong> &nbsp
     <%= @member.kinship %> 
<br>
</div>

 <h1>&nbsp &nbsp <%=@member.name%>'s medical history </h1>

<% @member.histories.each_with_index do |his,index| %>
<div class="his_border">    
    <%=index+1 %>&nbsp <strong>doctor name:</strong>&nbsp<%= his.doctor_name %> &nbsp
    &nbsp&nbsp<strong> doctor description:</strong> &nbsp<%= his.doctor_desc %> &nbsp
    &nbsp<strong> his age when he visit :</strong><%= his.age_at_visit %> &nbsp
    &nbsp<strong> date: </strong><%= his.date%>  &nbsp   
    <h4>disease type :</h4>
    <%if his.disease != nil%>
    &nbsp&nbsp <%= his.disease.name %>
    <h4> disease description :</h4>
    &nbsp&nbsp<%= his.disease.desc %><br><br>
    <a  class="link" href="/members/<%=@member.id%>/histories/<%=his.id%>/edit">  <button > update </button>  </a> <br>&nbsp
   
    <form method="POST" action="/members/<%=@member.id%>/histories/<%=his.id%>">
    <input ="text" id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"> 
    </form>
</div>
    <%end%><br></td>

<%end%>
<br><br>
<a href="/members/<%=@member.id%>/histories/new">create new history for <%=@member.name%></a>
<br><br>

<h2><a href="/members/<%=@member.id%>/procedures">Show me <%=@member.name%>'s procedures</a></h2>
<a href="/members">members</a><br><br>
</div>

