
<div class ="wrap">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>



<%=@history.doctor_name%><br>
<%=@history.age_at_visit%>
<br>
<%=@history.disease.name%>

</div>


<a href="/members/<%=@member.id%>/histories"> Go back to see all histories</a>