<h3>This is all <%=@member.name%>'s Procedures index page.</h3>

<% @member.procedures.each_with_index do |pro,index|%>
<div class="his_border"> 
<%=index+1 %><br>
<strong>Procedure Name :</strong> &nbsp <%=pro.name%><br>
<strong>Procedure description :</strong> &nbsp<%=pro.desc%><br>
<strong>Doctor Name :</strong> &nbsp<%=pro.proce_doctor%><br>
<strong>Hospital Name :</strong> &nbsp<%=pro.hospital%><br>
<strong>Date of procedure :</strong> &nbsp<%=pro.date_porc%><br>
<strong>Age at procedure :</strong> &nbsp<%=pro.age_at_proc%><br>

<h4>disease type :</h4>
<%if pro.disease != nil%>
&nbsp&nbsp<%= pro.disease.name %>
<h4> disease description :</h4>
&nbsp&nbsp<%= pro.disease.desc %><br><br>

&nbsp  <a href="/members/<%=@member.id%>/procedures/<%=pro.id%>/edit"> update </a> &nbsp
<form method="POST" action="/members/<%=@member.id%>/procedures/<%=pro.id%>">
<input ="text" id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete"> 
</form>
</div>
<%end%>
<br>

<%end%>
<br><br>
<a href="/members/<%=@member.id%>/procedures/new">create new procedure for <%=@member.name%></a>
<br><br>
<a href="/members">members</a><br><br>
